.slide-top-enter {
  transform: translateY(-100px);
}

.slide-bottom-enter {
  transform: translateY(100px);
}

.slide-top-enter-to,
.slide-bottom-enter-to {
  transform: translateY(0);
  transition: transform .5s ease;
}


.fade-enter-active, .fade-leave-active, .fade-in-enter-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to, .fade-in-enter {
  opacity: 0;
}
