.slide-top-left-enter {
  transform: translateX(-100px) translateY(-100px);
}

.slide-top-right-enter {
  transform: translateX(100px) translateY(-100px);
}

.slide-bottom-left-enter {
  transform: translateX(-100px) translateY(100px);
}

.slide-bottom-right-enter {
  transform: translateX(100px) translateY(100px);
}

.slide-top-left-enter-to,
.slide-top-right-enter-to,
.slide-bottom-left-enter-to,
.slide-bottom-right-enter-to {
  transform: translateX(0) translateY(0);
  transition: transform .5s ease;
}


.fade-enter-active, .fade-leave-active, .fade-in-enter-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to, .fade-in-enter {
  opacity: 0;
}
