.thumbnails {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(13rem,2fr));
  grid-gap: 2rem;

  img {
    width: 100%;
    height: auto;
    background-color: salmon;

    &:hover {
      cursor: pointer;
    }
  }
}

.gallery {
  position: relative;

  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
}
