.homepage-bg {
  $border: 0;

  position: absolute;
  top: 100px;
  right: $border;
  bottom: $border;
  left: $border;

  background: url("../img/P7061633.jpg") bottom center / contain no-repeat;

  z-index: 0;

  @media screen and (min-width: $breakpoint-small) {
    top: $border;
  }
}
