html {
  color: $grey;
  -webkit-font-smoothing: antialiased;
  font-family: helvetica, arial, sans-serif;
  font-size: 100%;
}

html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

#app {
  position: relative;
  padding: $padding-small $padding-small $bottom-pad-sm $padding-small;
  min-height: 100%;

  @media screen and (min-width: $breakpoint-small) {
    display: flex;
    padding: $padding-big;
  }
}

main {
  @media screen and (min-width: $breakpoint-small) {
    flex: 1;
  }
}

h1 {
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 500;

  @media only screen and (min-width: 950px) {
			font-size: 2em;
		}
}

p {
  margin:  .5em 0;
  color: $grey;
}

a {
  color: $grey;
  text-decoration: none;
  border-bottom: 1px solid $grey;

  &:hover {
    color: $light-grey;
  }
}

h5 {
  font-weight: normal;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: .5em;
}

li {
  padding-bottom: .3em;
}

.insta-icon {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;


  img {
    @include size(20px, 20px);
  }

  padding: $padding-small;

  @media screen and (min-width: $breakpoint-small) {
    padding: $padding-big;
  }
}
