html {
  color: $grey;
  -webkit-font-smoothing: antialiased;
  font-family: helvetica, arial, sans-serif;
  font-size: 100%;
}

#app {
  display: flex;
}

main {
  flex: 3;
}

h1 {
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 500;
  // font-size: 1.8em;

  @media only screen and (min-width: 950px) {
			font-size: 2em;
		}
}

p {
  margin:  .5em 0;
  color: $light-grey;
}

a {
  color: $grey;

  &:hover {
    color: $light-grey;
  }
}
