.main-nav, .footer {
  text-align: center;

  @media screen and (min-width: $breakpoint-small) {
    text-align: left;
    display: flex;
    flex-direction: row;
  }

  a {
    text-decoration: none;
    border-bottom: none;
  }
}

nav {
  margin-bottom: 2em;

  @media screen and (min-width: $breakpoint-small) {
    margin-bottom: 2.5em;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;

  list-style: none;
  padding: 0;

  @media screen and (min-width: $breakpoint-small) {
    margin: 0;
    justify-content: space-between;
    align-items: center;
  }

  li {
    margin: 0 1em;
    padding: 0;
    letter-spacing: 0.05em;

    @media screen and (min-width: $breakpoint-small) {
      margin-right: 0;
    }
  }

  a {
    position: relative;
  }
}

.router-link-active {
  border-bottom: 1px solid $black;

}

.home-link {
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: .1em;
  margin: 0;

  span {
    font-size: .7em;
    vertical-align: top;
    font-weight: 700;
  }
}

.signup {

  label {
    text-align: left;
  }

  input {
    font-family: $primary-font;
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: 0;
    appearance: none;
  }

  input[type="email"] {
    border-bottom: 1px solid $black;
  }

  .input-wrapper {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

.home-link, .social-link {
  margin-bottom: .5rem;

  @media screen and (min-width: $breakpoint-small) {
      margin: 0 auto 0 0;
  }
}

.social-link {
  display: block;
}

.footer {
  position: absolute;
  bottom: $padding-small;
  left: $padding-small;
  right: $padding-small;

  @media screen and (min-width: $breakpoint-small) {
    bottom: $padding-big;
    left: $padding-big;
    right: $padding-big;

    align-items: flex-end;
  }
}

.input-wrapper {
  position: relative;

  input[type="email"] {
    padding: .3em 70px .3em 0;
    width: 100%;
  }

  input[type="submit"] {
    position: absolute;
    bottom: .5em;
    right: 0;
    padding: 0;
    font-size: .9em;
    font-weight: normal;
    cursor: pointer;
  }
}

.cart-count {
  position: absolute;
  top: -70%;
  left: 90%;
  background-color: $black;
  color: $white;
  border-radius: 50%;
  font-size: .5em;
  padding: 2px;
  width: 1.8em;
  height: 1.8em;
  text-align: center;
  line-height: 1.4;
  outline: 0;
  border: 0;

  &:hover {
    background-color: $grey;
    cursor: pointer;
  }
}
