nav {
  position: relative;
  padding:  0 2em;
  z-index: 1;
  height: 100%;
  flex: 1;
}

.home-link {
  position: relative;
  display: inline-block;
  margin-bottom: 0;

  &::after {
    content: '';
    position: absolute;
    bottom: .1em;
    right: .6em;
    left: .05em;
    height: 2px;
    background-color: $grey;
  }
}

.nav {
  list-style: none;
  padding: 0 0 0 .2em;

  li {
    padding-bottom: .3em;
  }

  a {
    text-decoration: none;
    font-size: .9em;
  }
}
