nav {
  position: relative;
  z-index: 1;

  a {
    text-decoration: none;
    border-bottom: none;
  }

  @media screen and (min-width: $breakpoint-small) {
    padding:  0 2em 0 0;
    width: 285px;
  }
}

.home-link {
  display: inline-block;
  margin: 0;
}

.nav {
  list-style: none;
  padding: 0 0 0 .2em;

  a {
    font-size: .9em;
  }
}

.router-link-active {
  position: relative;

  &:before {

    content: "";
    position: absolute;
    left: -10px;
    top: 45%;
    bottom: auto;

    @include size(7px, 1px);
    background-color: $grey;
  }
}
