$grey: #67676A;
$light-grey: #9a9a9e;
$lighter-grey: #E0E0E1;

$breakpoint-small: 1050px;
$padding-small: 1em;
$padding-big: 2em;
$bottom-pad-sm: 3em;

@mixin size($width, $height) {
  width:  $width;
  height: $height;
}
