.headline p {
  color: var(--white);
  text-align: center;
  font-size: var(--headline-size);
  font-weight: var(--font-bold);
  letter-spacing: .05rem;
  line-height: 1.4;
  margin: 0;
  position: relative;
  z-index: 2;

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-bg-image {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.2);
  z-index: 1;
}

@media (min-width: 520px) {
  :root {
    --headline-size: 2.5rem;
  }
}
