.header {
  padding: var(--container-padding);
  font-size: 1.3rem;
}

.navigation a {
  color: var(--dark-grey);
  text-decoration: none;
  font-weight: var(--font-light);
  margin-right: 1rem;
}

.navigation a:hover {
  color: var(--black);
}

.navigation .active {
  color: var(--black);
  border-bottom: 2px solid var(--secondary);
}

.logo {
  text-align: center;
  font-size: 1.5rem;
  margin: 0 0 .5rem 0;
}

.logo a {
  color: var(--black);
  font-weight: var(--font-bold);
}

.navigation {
  text-align: center;
}

.footer {
  padding: var(--container-padding);
  text-align: center;
  margin: var(--container-padding) 0;
}

.footer label,
.footer input {
  display: block;
  font-size: 1rem;
}

.footer input {
  width: 100%;
  max-width: 250px;
  margin: .7rem auto;
}

.response {
  font-size: 1rem;
  color: var(--black);
}

@media (min-width: 760px) {

  .header {
    position: relative;
  }

  .navigation {
    padding: var(--container-padding);
    text-align: left;
    position: absolute;
    left: 0;
    top: 0;
  }
}
