

@keyframes slide {
    0% { transform: translateX(-100%) }
    100%{ transform: translateX(0%)}
}

.tag {
  position: absolute;
  left: 0;
  top: 1rem;

  background-color: var(--black);
  color: var(--white);
  font-size: 1rem;
  text-transform: uppercase;

  z-index: 200;
  padding: .4rem 1.5rem .2rem 1.5rem;

  animation: slide .3s ease-out forwards;
}
