.product {
  display: block;
  break-inside: avoid;
  page-break-inside: avoid;

  text-align: center;
  margin-bottom: var(--container-padding);
}

.product:hover .img-wrapper {
  box-shadow: 0px var(--underline) 0px 0px var(--secondary);
}

.img-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.img-wrapper::after {
  padding-bottom: 100%;
}

.img-wrapper img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.shop-title {
  font-size: 1.4rem;
  font-weight: var(--font-light);
  margin: 1rem 0 0 0;
  color: var(--black);
}

.shop-price {
  margin: 0;
  font-size: 1rem;
}

@keyframes slide {
    0% { transform: translateX(-100%) }
    100%{ transform: translateX(0%)}
}

.tag {
  position: absolute;
  left: 0;
  top: 1rem;

  background-color: var(--black);
  color: var(--white);
  font-size: 1rem;
  text-transform: uppercase;

  z-index: 200;
  padding: .4rem 1.5rem .2rem 1.5rem;

  animation: slide .3s ease-out forwards;
}

@media (min-width: 600px) {
  .product {
    margin-bottom: 0;
  }
}
